.box {

    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh; /* Set the height to occupy the full viewport height */
    overflow: hidden;
  }
  
  .list-container {
    /* margin-top: 10%; */
    border: black;
    border-width: 10px;
    width: 550px;
    height: 50%; /* Set the desired height of the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .text{
    color:rgb(5, 65, 30);
    font-size: 50px;
    position:absolute;
    margin-top: -30%;
    margin-left: -15%;
    font-weight: bold;
  }
  .Profile{
    border: 100px black;
    transform: translate(100%, 50%);
    width: 300px;
    height: 200px;
    background-color: #f12a2a;
  }
  .list {
    list-style-type: none;
    padding: 0;
    /* margin:0; */
  }
  
  .list li {
    width:auto;
    padding: 30px;
    background-color: black;
    border-bottom: 4.5px solid rgb(5, 65, 30);
  }
  
  .wrapper{
    border: 5px solid rgb(5, 65, 30);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .infoStyle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }


  .container {
    margin-top: 235px !important;
    margin-bottom: 294px !important;
    max-width: 500px;
    margin: 0 auto;
    background-color: #000000;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10 10 100px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #00ff33c7;
    margin-bottom: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ed0101;
    border-radius: 3px;
  }
  
  .signup-btn,
  .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: #6c757d;
  }
  
  .signup-btn:hover,
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .button {
    
    /* position:absolute;
    
    top: 50%;
    left:50%;
    translate: (-50%, -50%); */
    /* margin-left:10px ;
    margin-right:10px; */
    /* width: 120px;
    height: 40px; */
    position:relative;
    top:1000px;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgb(5, 65, 30);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .grid {
    display:grid;
    place-items:center;
    
  }
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .RestofPage{
    background-color: #4d4b4b;
    color:#0056b3;
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

  .radius{
    margin-top: 50%;
  }

  .body {
    overflow: hidden;
  }
