.box {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to occupy the full viewport height */
  }

.list-container {
    border: black;
    border-width: 10px;
    width: 550px;
    height: 350px; /* Set the desired height of the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  
  .list li {
    padding: 30px;
    background-color: black;
    border-bottom: 4.5px solid rgb(71, 205, 14);
  }

  .wrapper{
    border: 5px solid rgb(71, 205, 14);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .infoStyle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }