.container {
    margin-top: 235px !important;
    margin-bottom: 294px !important;
    max-width: 500px;
    margin: 0 auto;
    background-color: #000000;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10 10 100px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #00ff33c7;
    margin-bottom: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ed0101;
    border-radius: 3px;
  }
  
  .signup-btn,
  .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn {
    background-color: #6c757d;
  }
  
  .signup-btn:hover,
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .button {
    margin-top: 15px;
    margin-left:10px ;
    margin-right:10px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #00ff33c7;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .RestofPage{
    background-color: #4d4b4b;
    color:#0056b3;
    display: flex;
    justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

  